@import "tailwindcss";

@theme {
  --color-primary: #0a0a0f;
  --color-bttonColour: #e1094a;
  --color-boxColour: #16161d;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #56556d;
  border-radius: 10px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #3b3a4a;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

body {
  font-family: "Poppins";
  color: #f1f1f3;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
